@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.menu{
  width: 100%;
  max-width: 100%;
  /* overflow: hidden; */
  height: 80px;
  background-color: #333333;
  z-index: 999;
  /* overflow-x: hidden; */
}

.menu-content{
  width: 100%;
  transition: .3s;
  display: flex;
  padding: 5px 30px 0 40px;
  justify-content: flex-end;
  top: 50%;
  z-index: 999;
  /* border: 1px solid red; */
}

.menu ul.menu-ul{
  margin-left: 30px;
  margin-top: 25px;
}
.homebtn{
  top: 30px;
  position: absolute;
  left: 50px;
  display: none;
  /* border: 1px solid red; */
}
.fa-home{
  font-size: 25px;
  color: #fff;
}

.menu .menu-request{
  margin-left: 80px;
  border: none;
  background: rgba(0,0,0,.2);
  color: #fff;
  padding: 5px;
}
.menu-ul li{
  display: inline-block;
  font-size: 16px;
  padding:  0 10px;
  margin-left: 15px;
  font-size: 16px;
  transition: .3s;
}

.menu-ul .li_cart{
  position: relative;
}

.menu-ul .li_cart .li_cart_num{
  position: absolute;
  border: 1.5px solid #fa9800;
  background-color: #fa9800;
  color: #fff;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  width: 26px;
  height: 26px;
  text-align: center;
  display: none;
}

.menu-ul li a, .menu-ul li i{
  color: #ccc;
  text-decoration: none;
}
.menu-ul a.current-page{
  color: #fa9800;
}
.menu-ul li:hover a, .menu-ul li:hover a i{
  color: #fa9800;
  text-decoration: none;
}
.menu .menu-content a img{
  margin:0 0 0 40px;
  width: 7vw;
  height: 7vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  left: 50px;
}
.menu-ul i{
  position: relative;
}
/* hamburger */
.menulist{
  width: 15px;
  height: 30px;
  background-color: transparent;
  /* position: fixed; */
  right: 50px;
  top: 8px;
  z-index: 999;
  display: none;
}

.menulist #check:checked ~.menulist-img{
  display: block;
}

.menulist-img{
  height: 100vh;
  width: 100vw;
  /* border: 10px solid red; */
  position: absolute;
  /* left:-1150px; */
  top: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: .6s;
  background-image: url('./../html/pic/menuburger-pic1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  display: none;
}

.menulist-img img{
  height: 100%;
  width: auto;
  /* z-index: 999; */
  opacity: .7;
  transition: 15s;
  display: none;
}

.menulist-bg{
  width: 120vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transform: translateX(-79%);
  display: none;
}
.menulist-bg img{
  width: 100%;
  height: auto;
  opacity: .3;
  position: absolute;
  bottom: 0;
  left: 0;
}

.freeze{
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}

.showli{
  opacity: 1;
}

/* menulist */
@media screen and (max-width: 875px){


.menu-content{
  width: 100%;
  transition: .3s;
  display: flex;
  padding: 5px 70px 0 40px;
  justify-content: flex-end;
  top: 50%;
  z-index: 999;
  /* border: 1px solid red; */
}

.menu ul.menu-ul{
  margin-left: 0px;
  margin-top: 25px;
  padding-right: 30px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
}

.menu-ul li{
  display: inline-block;
  padding:  0 10px;
  margin-left: 15px;
  font-size: 16px;
  transition: .3s;
}

.menu-ul .li_cart{
  position: relative;
}

.menu-ul .li_cart .li_cart_num{
  position: absolute;
  border: 1.5px solid #fa9800;
  background-color: #fa9800;
  color: #fff;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  width: 26px;
  height: 26px;
  text-align: center;
  display: none;
}

.menu-ul li a.menutitle{
  display: none;
}

.menu .menu-content a img{
  margin:0 0 0 50px;
  width: 7vw;
  height: 7vw;
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  left: 0;
  display: none;
}
.homebtn{
  top: 30px;
  position: absolute;
  left: 40px;
  display: block;
  /* border: 1px solid red; */
}
.fa-home{
  font-size: 25px;
  color: #fff;
}
/* hamburger */
.menulist{
  width: 60px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 0px;
  display: block;
}

.menulist span::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 20px;
  border-bottom: 3px solid #ccc;
  bottom: 20px;
  right: 25px;
  z-index: 999;
  cursor: pointer;
  transition: .3s;
}

.menulist span::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #ccc;
  bottom: 10px;
  right: 25px;
  z-index: 999;
  cursor: pointer;
  transition: .3s;
}

.menulist .menuhamburger{
  font-size: 30px;
  display: none;
  z-index: 999;
  position: relative;
}

.menulist .menuhamburger ul:first-child{
  margin-top: 50px;
  z-index: 999;
}

.menulist .menuhamburger li{
  margin-left:-250px;
  margin-top: 13px;
  width: 300px;
  padding: 0px;
  text-align: right;
  z-index: 50;
  /* display: none; */
  opacity: 1;
  transition: .3s;
}


.menulist .menuhamburger li a{
  color: #fff;
  font-size: 35px;
  z-index: 999;
  position: relative;
  display: block;
  width: 100%;
  transition: .3s;
  padding-bottom: 20px;
}

.menulist .menuhamburger li:hover a{
  /* color: rgba(250,0,0,.8); */
  transform: translateX(-20px);
  z-index: 999;
}

.menulist #check{
  opacity: 0;
}

.menulist #check:checked ~ .menuhamburger{
  display: block;
  z-index: 999;
}

.menulist #check:checked + label span::before{
  transform: rotate(-45deg);
  bottom: 11px;
  right: 33px;
  z-index: 999;
  border-bottom: 3px solid #ccc;
}

.menulist #check:checked + label span::after{
  transform: rotate(45deg);
  bottom: 10px;
  right: 17px;
  border-bottom: 3px solid #ccc;
  z-index: 999;
}



.menulist #check:checked ~.menulist-bg{
  display: block;
  /* overflow-y: hidden; */
}

.menu-ul li:hover a, .menu-ul li:hover a i{
  color: #ccc;
  text-decoration: none;
}
}
