*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: noto sans jp;
}

body{
  width: 1920px;
  height: 100%;
  background-color: #000;
}

.wrap{
  width: 1200px;
  height: 100%;
  border: 1px solid green;
  margin: 0 auto;
  background-color: #FFF3EE;
  /* position: sticky; */
  /* top: 0px; */
  /* overflow: hidden; */
}
/* 第一面================================================ */
.video{
  border: 1px solid blue;
  display: flex;
  width: 1200px;
  height: 1080px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

video{
width: auto;
height: 1580px;
opacity: .8;
}
.slogan{
  position: absolute;
  margin-top: -350px;
  text-align: center;
  font-size: 50px;
}

.buy{
  border: 3px solid #ccc;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  transition: .3s;
  position: absolute;
  margin-top: 350px;
  font-size: 10px;
}

.buy h1, .slogan h1{
  color: #fff;
}

.buy:hover{
  transform: translateY(-10px);
  background-color: rgba(0,0,0,.5);
}

.menulist{
  width: 60px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 10px;
}

.menulist span::before{
  content: '';
  position: absolute;
  width: 40px;
  height: 48px;
  border-bottom: 4px solid #fff;
  margin-top: -32px;
  margin-left: 10px;
}

.menulist span::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 50px;
  border-bottom: 4px solid #fff;
  margin-top: -16px;
  margin-left: 10px;
}

.menulist .menuhamburger{
  font-size: 30px;
  display: none;
}

.menulist .menuhamburger ul:first-child{
  margin-top: 50px;
}

.menulist .menuhamburger li{
  margin-left:-200px;
  margin-top: 50px;
  width: 250px;
  padding: 20px;
  background: transparent;
  text-align: right;
  font-size: 18px;
}

.menulist .menuhamburger li a{
  color: #fff;
}

.menulist .menuhamburger li:hover a{
  color: #fa9800;
}

.menulist #check{
  opacity: 0;
}

.menulist #check:checked ~ .menuhamburger{
  display: block;
}

.menulist #check:checked + label span::before{
  transform: rotate(-45deg);
  margin-top: -12px;
  margin-left: -5px;
}

.menulist #check:checked + label span::after{
  transform: rotate(45deg);
  margin-top: -13px;
  margin-left: 29px;
  border-bottom: 4px solid #fff;
}

/* 第二面================================================ */

.menu{
  width: 100%;
  /* height: 120px; */
  background-color: #333333;
  position: sticky;
  /* position: -webkit-sticky; */
  top: 0px;
  z-index: 999;
}

.menu-content{
  transition: .3s;
  opacity: 0;
  display: flex;
  padding: 18px;
  align-items: center;
  z-index: 999;
}

.on{
  /*第二步：出現*/
  opacity: 1;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  display: flex;
  padding: 18px;
  align-items: center;
  border: 1px solid red;
  background-color: #333333;
  width: 1200px;
}

.menu ul{
  margin-left: 60px;
}
/*  */
.menu .menu-ul li a:after{
  content:'';
  position: absolute;
  left: 50%;  /*從中間開始，故位置是50%*/
  right: 50%;
  bottom: -5px;
  height: 0;
  border-bottom: 1px solid #fa9800;
  transition: .3s;
  }

.menu .menu-ul li a:hover:after{
  left: 0;
  right: 0;
 }
/*  */
.menu .menu-request{
  margin-left: 80px;
  border: none;
  background: rgba(0,0,0,.2);
}

.menu li{
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin-left: 20px;
  font-size: 16px;
  transition: .3s;
}

.menu li:hover{
  transform:translateY(-5px);
}

.menu li:hover a, .menu li:hover a i{
  color: #fa9800;
}

.menu img{
  margin:0 0 0 50px;
  width: 80px;
  height: 80px;
}

.menu a, .menu i{
  color: #fff;
  position: relative;
}

/*圖片文字區域*/
.about{
  background-color: #333333;
}

.about-img-text{
  width: 1200px;
  height: 800px;
  background-color: #333333;
  border: 1px solid purple;
  position: relative;
}

.about-img-text .img{
  width: 400px;
  margin-top: 50px;
  overflow: hidden;
  border: 1px solid red;
  margin-left: 100px;
}

.about-img-text .img img{
  width: 100%;
  height: auto;
  transition: 1s;
}

.about-img-text .img img:hover{
  transform: scale(1.1);
}

.about-img-text .txt{
  color: #fa9800;
  position: absolute;
  left: 390px;
  top: 200px;
}

.about-img-text .txt h1{
  font-size: 70px;
  color: #fa9800;
}

.about-img-text .txt p{
  width: 700px;
  font-size: 18px;
  line-height: 40px;
  color: #fa9800;
  margin-left: 60px;
  margin-top: 30px;
}

.about-img-text .moreabout{
  width: 700px;
  font-size: 20px;
  color: #fa9800;
  text-align: right;
  display: inline-block;
  margin-top: 20px;
  position: relative;
  transition: .3s;
}

.about-img-text .moreabout:before{
  content:'';
  display: inline-block;
  color: #fa9800;
  width: 100px;
  height: 20px;
  border-top: 1px solid #fa9800;
  position: absolute;
  left: 35%;
  top: 16px;
}

.about-img-text .moreabout:hover{
  transform: translateY(-5px);
  color: rgba(250,0,0,.8);
}
/* 第三面============================================ */
.banner-door{
  width: 1200px;
  font-size: 0;
  margin-top: 200px;
}

.leftdoor, .rightdoor{
  width: 600px;
  display: inline-block;
  overflow: hidden;
}

.banner-door img{
  width: 100%;
  transition: 2s;
}

.moto{
  font-size: 18px;
  text-align: center;
  margin-top: -200px;
  opacity:0;
  transition: 2s;
}

.banner-door:hover .leftdoor img{
  transform: translateX(-400px);
  opacity:.3;
}

.banner-door:hover .rightdoor img{
  transform: translateX(400px);
  opacity:.3;
}

.banner-door:hover .moto{
  opacity: 1;
}
/* 第四面============================================ */
.news{
  width: 1200px;
  height: 600px;
  background-color: #333333;
  position: relative;
  display: flex;
  padding: 70px 100px;
  margin-top: 400px;
}

.wave-top-l, .wave-top-r{
  width: 0px;
  border-top: 40px solid #FFF3EE;
  border-left: 295px solid transparent;
  border-right: 295px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  animation: movetop 4s infinite;
  animation-timing-function: linear;
}

.wave-bot-l, .wave-bot-r{
  width: 0px;
  border-bottom: 40px solid #FFF3EE;
  border-left: 295px solid transparent;
  border-right: 295px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: movebot 4s infinite;
  animation-timing-function: linear;
}

.wave-bot-l{
  animation-delay: .2s;
}

.wave-top-r{
  left: 600px;
  animation-delay: .4s;
}

.wave-bot-r{
  left: 600px;
  animation-delay: .6s;
}

@keyframes movetop {
  0% {border-top:40px solid #FFF3EE}
  50% {border-top: 0px solid #FFF3EE}
  100% {border-top: 40px solid #FFF3EE}
}

@keyframes movebot {
  0% {border-bottom: 40px solid #FFF3EE}
  50% {border-bottom: 0px solid #FFF3EE}
  100% {border-bottom: 40px solid #FFF3EE}
}

/* NEWS內容 */
.news-title{
  border: 1px solid blue;
  width: 150px;
  padding: 20px;
}

.news-title h1{
    font-size: 28px;
    color:#fa9800;
    margin-bottom: 50px;
    border-bottom: 3px solid #fa9800;
    width: 80px;
}

.news-title .news-btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
}

.news-title .news-btn:hover{
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: #fa9800;
}

.news-content-1, .news-content-2, .news-content-3{
  display: flex;
  width: 800px;
  padding: 20px;
  position: relative;
}

.news img{
  width: 110px;
  height: 110px;
}

.news-content-2::before, .news-content-3::before{
  content: '...............................................................................................................................................';
  font-size: 8px;
  height: 10px;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  top: -10px;
}

.news-content img{
  margin-right: 30px;
}

.news-content h3{
  margin-bottom: 20px;
  color: #fff;
}

.news-content p{
  color: #fff;
}

.news-content i{
  font-size: 30px;
  margin-left: 550px;
  color: #fa9800;
  transition: .3s;
  margin-top: -10px;
}

.news-content i:hover{
  transform: translateY(-5px);
}

.newslogo{
  position: absolute;
  color: #fa9800;
  right: -180px;
  transform: rotate(90deg);
  font-size: 190px;
  bottom: 180px;
  opacity: .3;
}
/* 第五面開始================================================= */
.lego{
  position: relative;
  width: 1200px;
  margin-top: 400px;
  height:500px;
  overflow: hidden;
}

.lego h1{
  width: 800px;
  text-align: center;
  margin-top: -280px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
  font-size: 50px;
}

.lego .lego-bg{
  width: auto%;
  height: 500px;
  margin: 0 auto;
}

.lego .lego-pic-left{
  height: 500px;
  width: 300px;;
  position: absolute;
  top: 0;
  left: -200px;
  transition: .5s;
}

.lego-pic-right{
  height: 500px;
  width: 300px;;
  position: absolute;
  top: 0;
  right: -200px;
  transition: .5s;
}

.lego:hover .lego-pic-left{
  left: 0;
}

.lego:hover .lego-pic-right{
  right: 0;
}



.lego .lego-btn{
margin-left: 50%;
transform: translateX(-50%);
width: 100px;
height: 30px;
border-radius: 20px;
background-color: #fff;
transition: .3s;
border: none;
}

.lego .lego-btn:hover{
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: #fa9800;
}

.lego h2{
  position: absolute;
  left: 0;
  top: -200px;
  font-size: 190px;
  opacity: .3;
  color: #fa9800;
}
/* 第六面開始================================================= */
.product{
  width: 1200px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 400px;
}

.product-item{
  display: flex;
  border: 1px solid red;
  justify-content: center;
}

.product-item div{
  width: 200px;
  border: 1px solid blue;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item div h5{
  margin: 10px 0;
}

.product-item .product-pic{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.product-item img{
  width: 100%;
  height: auto;
}

.product .product-btn{
  border: 1px solid yellow;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

.product .product-btn input{
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.product .product-btn input:hover{
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: #fa9800;
}

.product-logo h1{
  color: #fa9800;
  font-size: 150px;
  opacity: .3;
  position: absolute;
  top: -180px;
  left: 5px;
}
/* 第七八面開始======================================= */
.artist{
  width: 1200px;
  height: 400px;
  background-color: #333333;
  position: relative;
  margin-top: 300px;
}

.artist1, .artist2, .artist3{
  border: 1px solid red;
  width: 280px;
  height: 320px;
  overflow: hidden;
  position: absolute;
}

.artist .artist1{
  right: 50px;
  top:-180px;
}

.artist .artist2{
  right: 300px;
  top:-70px;
  z-index: 2;
}

.artist .artist3{
  right: 120px;
  bottom: -80px;
}

.artist1 img, .artist2 img{
  height: 100%;
  width: auto;
  transition: 1s;
}

.artist2 img{
  margin-left: -90px;
}

.artist3 img{
  width: 100%;
  height: auto;
  margin-top: -80px;
  transition: 6s;
}
/* .artist img:hover{
  transform: scale(1.2);
} */

.artist .artist1:hover, .artist2:hover, .artist3:hover{
  animation: jump .3s linear infinite alternate;
}

@keyframes shake{
  0%{ transform: rotate(2deg)}
  100%{transform: rotate(-2deg)}
}

@keyframes jump{
  0%{ transform: translateY(-5px)}
  100%{transform: translateY(5px)}
}


.artist-content{
  border: 1px solid blue;
  width: 580px;
  height: 300px;
  padding: 80px 50px;
}

.artist-content p{
  color: #fff;
  font-size: 16px;
}

.artist-logo h1{
  color: #fa9800;
  font-size: 190px;
  opacity: .3;
  position: absolute;
  bottom: -40px;
  left: 30px;
}

.artist .artist-content button{
  width: 150px;
  padding: 5px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.artist .artist-content button:hover{
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: #fa9800;
}
/* 下方資訊================================================ */
.shopinfo{
  display: flex;
  width: 1200px;
  height: 400px;
  margin-top: 300px;
  padding: 50px;
}

.shopinfo-map{
  width:600px;
  height: 300px;
  border: 1px solid green;

}

.shopinfo-address{
  width: 600px;
  border: 1px solid red;
  height: 300px;
}

.shopinfo-map img{
  width: auto;
  height: 100%;
  margin-left: 70px;
}

.shopinfo-address h3{
  font-size: 30px;
}
.engaddress h3{
  margin-top: 20px;
}
/* footer ================================================================*/
.footer{
  width: 1200px;
  height: 250px;
  margin-top: 60px;
  background-color: #333333;
  display: flex;
  padding: 20px 0;
}

.footer .newsletter{
  width: 550px;
  height: 100%;
  border: 1px solid red;
  padding: 10px 50px;
}

.footer .site, .order-support{
  width: 250px;
  border: 1px solid blue;
  padding: 10px 50px;
}

.footer li{
  margin-top: 10px;
  font-size: 16px;
}

.newsletter h5{
  color: #fa9800;
  margin-bottom: 5spx;
  font-size: 18px;
  margin-bottom: 5px;
}

.newsletter .newsletter-btn input[type='text']{
  border: none;
  height: 30px;
  width: 250px;
}

.newsletter .newsletter-btn input[type='submit']{
  border:none;
  height: 30px;
  width: 60px;
  background-color: #fff;
}

.newsletter p{
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
}


.site h5, .order-support h5{
  color: #fa9800;
  font-size: 18px;
  margin-top: 5px;
}

.site a, .order-support a{
  color: #fff;
  font-size: 16px;
}

.backtop i{
  color: #fa9800;
  font-size: 60px;
  margin-left: 50px;
  margin-top: 10px;
}
