*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: noto sans jp;
}

body{
  width: 1920px;
  height: 1200px;
  background-color: #ccc;
}

.wrap{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  height: 1080px;
  padding-top: 200px;
}

.lego{
  position: relative;
  width: 1200px;
}

.lego h1{
  width: 800px;
  text-align: center;
  margin-top: -280px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
  font-size: 50px;
}

.lego img{
  width: 100%;
  height: auto;
}

.lego .lego-btn{
margin-left: 50%;
transform: translateX(-50%);
width: 100px;
height: 30px;
border-radius: 20px;
background-color: #fff;
transition: .3s;
border: none;
}

.lego .lego-btn:hover{
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: #fa9800;
}

.lego h2{
  position: absolute;
  left: 0;
  top: -180px;
  font-size: 190px;
  opacity: .3;
  color: #fa9800;
}
